  <table class="table">
    <thead>
      <tr>
        <th> 日期 </th>
        <th> 賽事名稱 </th>
        <th> 對手名稱 </th>
        <th colspan="2"></th>
      </tr>
    </thead>
    <tbody>
      <% @games.each do |game| %> 
        <tr>
          <td> <%= game.created_at.strftime("%B %d, %Y") %> </td>
          <td> <%= game.name %> </td>
          <td> <%= game.rival %> </td>
          <td> <%= link_to("修改", 
                           edit_team_game_path(game.team, game), 
                           :class => "btn btn-default btn-xs")%>

               <%= link_to("刪除", 
                           team_game_path(game.team, game), 
                           :class => "btn btn-default btn-xs ",
                           :method => :delete,
                           data: { confirm: "Are you sure?" } )%></td>
        </tr>
      <% end %> 
    </tbody>
  </table>