<div class="col-md-12">

	<div class="group">
    <%= link_to("新增賽事", new_team_game_path(@team), :class => "btn btn-warning pull-left" ) %>
	  <%= link_to("新增隊員", new_team_player_path(@team), :class => "btn btn-warning pull-right" ) %>
    <%= link_to("修改隊名", edit_team_path(@team), :class => "btn btn-primary pull-right" ) %>
	</div>

	<h1 class="text-center">
	  <b> <%= @team.name %> </b>
	</h1>

	<%= render :partial => "player_table" %>

</div>