<div class="col-md-12"> 
  
<h1 class="text-center"> <%= @player.name %> </h1>

<table class="table">
    <thead>
      <tr>
        <th> 背號 </th>
        <th> 兩分 </th>
        <th> 三分 </th>
        <th> 攻-守 <br> 籃 板 </th>
        <th> 助攻 </th>
        <th> 阻攻 </th>
        <th> 抄截 </th>
        <th> 失誤 </th>
        <th> 犯規 </th>
        <th> 罰球 </th>
        <th> 得分 </th>
        <th>  </th>
      </tr>
    </thead>
    <tbody>
    	<tr>
      	<td> #<%= @player.number %> </td>
      	<td> <%= @player.statistic.two_pt %> </td>
        <td> <%= @player.statistic.three_pt %> </td>
        <td> 
        	<%= @player.statistic.off_rebound %> -
        	<%= @player.statistic.def_rebound %>
        </td>
        <td> <%= @player.statistic.assist %> </td>
        <td> <%= @player.statistic.block %> </td>
        <td> <%= @player.statistic.steal %> </td>
        <td> <%= @player.statistic.turnover %> </td>
        <td> <%= @player.statistic.foul %> </td>
        <td> <%= @player.statistic.free_throw %> </td>
        <td> <%= @player.statistic.points %> </td>
        <td> 
          <%= link_to("新增數據", '#', :class => "btn btn-info" ) %>
          <%= link_to("更新數據", '#', :class => "btn btn-warning" ) %>
          <%= link_to("刪除數據", '#', :class => "btn btn-danger" ) %>
        </td>   
    	</tr>

    </tbody>
  </table>

</div>
